.logotype {
  display: flex;
  /*background-color: red;*/
  width: fit-content;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
}

.logotype__icon {
  font-size: 0.35rem;
  color: #8b0010;
  border: 10px solid rgba(139, 39, 0, 0.86);
  font-family: 'Fira Code', monospace;
  border-radius: 2rem;
}

.logotype__text {
  background-color: #fff;
  text-align: center;
}
